==========================================================================
_________                     .__  .__              ________          
\_   ___ \  ________________  |  | |__| ____   ____ \_____  \   ______
/    \  \/ /  _ \_  __ \__  \ |  | |  |/    \_/ __ \ /   |   \ /  ___/
\     \___(  <_> )  | \// __ \|  |_|  |   |  \  ___//    |    \\___ \ 
 \______  /\____/|__|  (____  /____/__|___|  /\___  >_______  /____  >
        \/                  \/             \/     \/        \/     \/  
                             VERSION 1.0
===========================================================================

REQUIREMENTS: rich

HOW TO GET: pip install rich